* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    padding: 24px;
}

#box {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    background-color: cyan;
    position: absolute;
    animation-name: move;
    animation-duration: 5s;
    /* animation-delay:1s; */
    /* animation-iteration-count:3;  */ /*infinite*/
    /* animation-direction:reverse; */
    animation-timing-function: ease-in;
}

@keyframes move {

    /* from {
        transform:translateX()
        left: 0;
        rotate: 0;
    background-color: cyan;

    }

    to {
        left: 70%;
        rotate: 360deg;
    background-color: purple;

    } */
    0% {
        left: 0;
        top: 0;
        rotate: 0;
        background-color: cyan;

    }

    25% {
        left: 70%;
        top: 0%;
        background-color: blueviolet;
    }

    50% {
        left: 70%;
        /* bottom: 0; */
        top: 50%;
        background-color: seashell;
    }

    75% {
        left: 0%;
        top: 50%;
        background-color: brown;
    }

    100% {
        left: 0%;
        top: 0%;
        rotate: 0;
        background-color: rgb(255, 166, 0);

    }

}

h1{
    font-size: 60px;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
}

h1::before{
    content:' like x';
    color:aqua;
}
h1::after{
    content:' like ';
    color:rgb(255, 0, 0);

}