* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    padding: 24px;
}

#box {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    background-color: cyan;
    position: absolute;
    animation-name: move;
    animation-duration: 10s;
    /* animation-delay:1s; */

}

@keyframes move {

    /* from {
        transform:translateX()
        left: 0;
        rotate: 0;
    background-color: cyan;

    }

    to {
        left: 70%;
        rotate: 360deg;
    background-color: purple;

    } */
    0% {
        left: 0;
        top: 0;
        rotate: 0;
        background-color: cyan;

    }

    25% {
        left: 70%;
        top: 0%;
        background-color: blueviolet;
    }

    50% {
        left: 70%;
        /* bottom: 0; */
        top: 50%;
        background-color: seashell;
    }

    75% {
        left: 0%;
        top: 50%;
        background-color: brown;
    }

    100% {
        left: 0%;
        top: 0%;
        rotate: 0;
        background-color: rgb(255, 166, 0);

    }

}