*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    padding: 2%;
    background-color: black;
}
.gallery{
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery img{
    width: 13%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-in-out 0.7s;
}
.gallery img:hover{
    width: 40%;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 98px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background: -webkit-linear-gradient(#afafaf, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}